/target/
/index.txt
/node_modules/
/npm-debug.log
/cq_spa_demo_log.log
/questions.txt
/cq-questions.txt
/wqc-indices.txt
/wqc-questions.txt
/wqc-translated.txt
/cq-indices.txt
/4q-wqc.txt
/cq-demo.properties
/selectables.txt
/tips.txt
/wqc-for-translate.txt
/cq-questions-lined.txt
/wqc.txt
/temp_selectables.txt
